<div ng-show="contacts">
    <div ng-show="contacts.Result.length > 0">
        <uib-pagination direction-links="false" total-items="contacts.PagingInfo.TotalItemCount" items-per-page="pageSize" ng-model="pageNumber" ng-change="pageChanged()"></uib-pagination>
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    <a href="#" ng-click="sortField = 'FirstName'; isAscending = !isAscending; search()">
                        FirstName
                        <span ng-show="sortField == 'FirstName' && isAscending" class="glyphicon glyphicon-sort-by-attributes"></span>
                        <span ng-show="sortField == 'FirstName' && !isAscending" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortField = 'LastName'; isAscending = !isAscending; search()">
                        LastName
                        <span ng-show="sortField == 'LastName' && isAscending" class="glyphicon glyphicon-sort-by-attributes"></span>
                        <span ng-show="sortField == 'LastName' && !isAscending" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortField = 'BirthDate'; isAscending = !isAscending; search()">
                        BirthDate
                        <span ng-show="sortField == 'BirthDate' && isAscending" class="glyphicon glyphicon-sort-by-attributes"></span>
                        <span ng-show="sortField == 'BirthDate' && !isAscending" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    </a>
                </th>
                <th>
                    ContactInfosCount
                </th>
                <th></th>
            </tr>

            <tr ng-repeat="model in contacts.Result">
                <td>
                    {{model.FirstName}}
                </td>
                <td>
                    {{model.LastName}}
                </td>
                <td>
                    {{model.BirthDate| date:'shortDate'}} ({{getAge(model.BirthDate)}})
                </td>
                <td>
                    {{model.ContactInfosCount}}
                </td>
                <td>
                    <a href="#/edit/{{model.Id}}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                    </a>
                    <a href="#" class="btn btn-danger">
                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Remove
                    </a>
                </td>
            </tr>
        </table>
        <uib-pagination direction-links="false" total-items="contacts.PagingInfo.TotalItemCount" items-per-page="pageSize" ng-model="pageNumber" ng-change="pageChanged()"></uib-pagination>
    </div>
    <div class="alert alert-info" ng-hide="contacts.Result.length > 0">
        No results available for the current search filter.
    </div>


</div>