@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> PhoneBook API
    </h1>
    <p class="lead">PhoneBook APIs is a sample project that shows how to create a Web Api with <a href="https://github.com/martinobordin/BusinessLight">BusinessLight</a> framework</p>
    <p><a href="@Url.Action("Index", "Contacts")" class="btn btn-primary btn-lg">Start &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span> Easy to use</h2>
        <p>
            The aim of BusinessLight is to speed up the development of layered application.
            Check out the documentation or the code of this demo to see how easy is to build an app from scratch.
        </p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Light</h2>
        <p>
            You don't have to use the whole framework, because every part has its own nuget package.
            Just take what you need!
        </p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Extensible</h2>
        <p>You can plug-in your own logic, overriding the default behaviour or rewriting entirely a new one.</p>
    </div>
</div>
